@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Manrope", sans-serif;

  --color-primary: #0059bb;
  --color-primary-container: #0070ea;
  --color-on-primary: #ffffff;
  
  --color-surface: #f8f9fa;
  --color-surface-container: #ffffff;
  --color-on-surface: #191c1d;
  --color-on-surface-variant: #414754;
  
  --color-outline: #717786;
  --color-outline-variant: #c1c6d7;
  --color-mesh-accent: rgba(0, 89, 187, 0.05);
}

.dark {
  --color-primary: #adc7ff;
  --color-primary-container: #004493;
  --color-on-primary: #002e69;

  --color-surface: #0f1115;
  --color-surface-container: #1b1e25;
  --color-on-surface: #ffffff;
  --color-on-surface-variant: #d1d4db;

  --color-outline: #9ca3af;
  --color-outline-variant: #43474e;
  --color-mesh-accent: rgba(173, 199, 255, 0.05);
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans transition-colors duration-300;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold tracking-tight;
  }
}

.bg-mesh {
  background: radial-gradient(at 0% 0%, var(--color-mesh-accent) 0px, transparent 50%),
              radial-gradient(at 100% 100%, var(--color-mesh-accent) 0px, transparent 50%);
}
